<mat-form-field appearance="fill" class="product-create">
  <mat-label>Name</mat-label>
  <input matInput #txtName />
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
  <mat-label>Stock</mat-label>
  <input matInput #txtStock type="number" min="0" value="0" />
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
  <mat-label>Price</mat-label>
  <input matInput #txtPrice type="number" min="0" value="0" />
</mat-form-field>

<button
  matButton="elevated"
  color="primary"
  class="btn"
  (click)="create(txtName, txtStock, txtPrice)"
>
  Create Product
</button>
